// Color variables (appears count calculates by raw css)
@color0: #7f7f7f; // Appears 2 times
@color1: #333333; // Appears 2 times
@color2: #ffffff; // Appears 2 times
@color3: #eeeeee; // Appears 2 times
@color4: #dcdcdc; // Appears 2 times

// Width variables (appears count calculates by raw css)
@width1: 100%; // Appears 10 times

// Height variables (appears count calculates by raw css)
@height2: 100%; // Appears 9 times

#inputForm{
    top: 50px;
    margin: auto;
    width: 60%;
    padding: 10px;
}

.popupbtn{
    float: right;
    margin-bottom: 10px;
}

.fill {
    height: @height2;
    min-height: @height2;
}
html {
    height: @height2;
    min-height: @height2;
}
body {
    height: @height2;
    min-height: @height2;
}
.outer-container {
    box-sizing: border-box;
    margin-left: 0;
    margin-right: 0;
    padding-top:50px;
}
div {
    &#main_container, &#map{
        position: fixed;
        width: 100%;
        height: 100%;
    }
    &#info_container{
        margin-top: 20px;
        margin-left: 50px;
        position: fixed;
        width: 80%;
        height: 90%;
    }
    &#info_box{
        margin-top: 20px;
        margin-left: 50px;
        position: fixed;
        width: 80%;
        height: 90%;
        background-color: #f2f2f2;
        opacity: 0.8;
        filter: alpha(opacity=80); /* For IE8 and earlier */
    }
}
#addRestButton{
    position: fixed;
    bottom: 10px;
    left: 10px;
}
.navbar {
    border: 1px solid transparent;
    height: 50px;
    left: 0;
    margin-bottom: 0;
    position: absolute;
    top: 0;
    width: @width1;
}
.navbar-brand {
    padding: 10px;
}
.navbar-right {
    margin-right: 0px;
    padding-right: 0px;
}
.col-md-10 {
    padding-left: 0px;
    padding-right: 0px;
}
.col-md-2 {
    padding-left: 5px;
    padding-right: 5px;
    padding-top: 5px;
}
#input-search {
    margin-right: 0px;
    padding-left: 0px;
    padding-right: 0px;
    width: @width1;
}
.glyphicon-search {
    padding-bottom: 3px;
    padding-top: 7px;
    top: 0px;
}
.list-group {
    margin-right: 0px;
    margin-top: 5px;
    padding-left: 0px;
    padding-right: 0px;
    width: @width1;
}
.list-group-item {
    padding-bottom: 6px;
    padding-top: 6px;
}
.badge {
    background-color:#669900;
}
.rightItem {
    margin-bottom: 0px;
    margin-top: 0px;
}
.restName {
    border-bottom: 1px solid @color3;
    margin-bottom: 0px;
    margin-top: 0px;
    padding-bottom:5px;
    padding-left: 20px;
    padding-top:20px;
    text-align: center;
}
.form-control {
    border: 1px solid @color4;
    border-radius: 0;
    padding-left: 10px;
}
#email, #password {
  margin-bottom: 15px;
}
#submit {
    background: #00a8fd;
    border-radius: 3px;
    color: @color2;
    float: right;
    margin-top: 20px;
    padding: 12px 20px;
}
.info {
    background: #e5e5e5;
    border-radius: 50%;
    display: inline-block;
    height: 20px;
    line-height: 20px;
    margin-top: 30px;
    margin: 0 10px 0 0;
    text-align: center;
    width: 20px;
}
.overlay {
    background:transparent url(/images/overlay.png) repeat top left;
    bottom:0px;
    left:0px;
    position:fixed;
    right:0px;
    top:0px;
    z-index:100;
}
.box {
    -khtml-border-radius:20px;
    -moz-border-radius: 20px;
    -moz-box-shadow: 0 1px 5px @color1;
    -webkit-border-radius:20px;
    -webkit-box-shadow: 0 1px 5px @color1;
    background-color: @color2;
    color: @color0;
    left:40%;
    padding:20px;
    position:fixed;
    right:40%;
    top:-400px;
    z-index:101;
    h1 {
        -khtml-border-top-left-radius: 20px;
        -khtml-border-top-right-radius: 20px;
        -moz-border-radius:20px 20px 0px 0px;
        -webkit-border-top-left-radius: 20px;
        -webkit-border-top-right-radius: 20px;
        background-color: @color3;
        border-bottom: 1px solid @color0;
        color:#000000;
        margin:-20px -20px 20px -20px;
        padding:10px;
        text-align: center;
    }
}
a.boxclose {
    color: #aaaaaa;
    cursor: pointer;
    font-size: 22px;
    font-weight: bold;
    line-height: .5;
    position: absolute;
    right: 11px;
    text-decoration: none;
    text-shadow: 0 -1px 1px rbga(0,0,0,.6);
    top: 8px;
}
.logo{
    height: 30px;
    width: 30px;
}
#rest_info_close{
    color: #aaaaaa;
    cursor: pointer;
    font-size: 22px;
    font-weight: bold;
    line-height: .5;
    position: absolute;
    right: 11px;
    text-decoration: none;
    text-shadow: 0 -1px 1px rbga(0,0,0,.6);
    top: 30px;
}
/* jssor slider bullet navigator skin 05 css */
/*
.jssorb05 div           (normal)
.jssorb05 div:hover     (normal mouseover)
.jssorb05 .av           (active)
.jssorb05 .av:hover     (active mouseover)
.jssorb05 .dn           (mousedown)
*/
.jssorb05 {
    position: absolute;
}
.jssorb05 div, .jssorb05 div:hover, .jssorb05 .av {
    position: absolute;
    /* size of bullet elment */
    width: 16px;
    height: 16px;
    background: url('/images/b05.png') no-repeat;
    overflow: hidden;
    cursor: pointer;
}
.jssorb05 div { background-position: -7px -7px; }
.jssorb05 div:hover, .jssorb05 .av:hover { background-position: -37px -7px; }
.jssorb05 .av { background-position: -67px -7px; }
.jssorb05 .dn, .jssorb05 .dn:hover { background-position: -97px -7px; }

/* jssor slider arrow navigator skin 12 css */
/*
.jssora12l                  (normal)
.jssora12r                  (normal)
.jssora12l:hover            (normal mouseover)
.jssora12r:hover            (normal mouseover)
.jssora12l.jssora12ldn      (mousedown)
.jssora12r.jssora12rdn      (mousedown)
*/
.jssora12l, .jssora12r {
    display: block;
    position: absolute;
    /* size of arrow element */
    width: 30px;
    height: 46px;
    cursor: pointer;
    background: url('/images/a12.png') no-repeat;
    overflow: hidden;
}
.jssora12l { background-position: -16px -37px; }
.jssora12r { background-position: -75px -37px; }
.jssora12l:hover { background-position: -136px -37px; }
.jssora12r:hover { background-position: -195px -37px; }
.jssora12l.jssora12ldn { background-position: -256px -37px; }
.jssora12r.jssora12rdn { background-position: -315px -37px; }
