@(reviewForm: Form[models.Review], restaurantId: String)(implicit lang: play.api.i18n.Messages)

@import helper._

@layout("Add a new review") {
<div class="row fill outer-container">
  @form(action = routes.ReviewController.create) {
    @inputText(reviewForm("title"))
    @textarea(reviewForm("content"))
    @select(reviewForm("cuisine"), helper.options("1" -> "1",  "2" -> "2", "3" -> "3", "4" -> "4", "5" -> "5"))
    @select(reviewForm("interior"), helper.options("1" -> "1",  "2" -> "2", "3" -> "3", "4" -> "4", "5" -> "5"))
    @select(reviewForm("service"), helper.options("1" -> "1",  "2" -> "2", "3" -> "3", "4" -> "4", "5" -> "5"))
    @repeat(reviewForm("labels"), min = 1) { labelField =>
        @inputText(labelField("text"))
        @select(
            labelField("color"),
            helper.options(
                "#ff0000" -> "Red",
                "#000000" -> "Black",
                "#0000ff" -> "Blue",
                "#008000" -> "Green",
                "#00ff00" -> "Lime",
                "#ffff00" -> "Yellow",
                "#ffffff" -> "White")
        )
        @select(
            labelField("isPositive"),
            helper.options("true" -> "Yes", "false" -> "No")
        )
    }
    <input type="hidden" name="restaurantId" value=@restaurantId>
    <div class="form-actions">
        <input class="btn btn-primary" type="submit">
    </div>
  }
</div>
}




