@(restraurantForm: Form[models.Restaurant], lat: Double, lng: Double)(implicit lang: play.api.i18n.Messages)

@import helper._

@layout("Add a new restaurant") {
<div class="row fill outer-container">
  @form(action = routes.RestaurantController.create) {
      @inputText(restraurantForm("name"))
      @inputText(restraurantForm("telephone"))
      @textarea(restraurantForm("description"))
      @inputText(restraurantForm("address"))
      @inputText(restraurantForm("workingHours"))
      <input type="hidden" name="loc[0]" value=@lng>
      <input type="hidden" name="loc[1]" value=@lat>
      <div class="form-actions">
          <input class="btn btn-primary" type="submit">
      </div>
  }
</div>
}
