@(id: String, restraurantForm: Form[models.Restaurant])(implicit lang: play.api.i18n.Messages)

@import helper._

@layout("Restaurant rating") {
  <div class="row fill outer-container">
  @form(action = routes.RestaurantController.edit(id)) {
    @inputText(restraurantForm("name"))
    @inputText(restraurantForm("telephone"))
    @textarea(restraurantForm("description"))
    @inputText(restraurantForm("address"))
    @inputText(restraurantForm("workingHours"))
    <div class="form-actions">
        <input class="btn btn-primary" type="submit">
    </div>
  }
  </div>
}
