@(id: Option[String], form: Form[models.Review])(implicit lang: play.api.i18n.Messages)

@layout("Restaurant rating") {
    <h2>
        @if(!id.isDefined) {
            Add
        }else{
            Edit
        } a review
    </h2>
    @helper.inputText(form("id"))
    @helper.inputText(form("restaurantId"))
    @helper.inputText(form("title"))
    @helper.textarea(form("content"))
    @helper.inputDate(form("creationDate"))
    <div class="form-actions">
        <input class="btn btn-primary" type="submit">
    </div>
}
