@layout("Restaurant rating") {
    <div class="row fill outer-container">
        <div class="col-md-10 fill">
            <div id="main_container">
                <div id="map_container"></div>
                <div id="info_container" style="padding-left: 20px; margin-top: 0px; margin-bottom: 0px;">
                    <h1 class="restName">Restaurant name</h1>
                    <div class="row" style="padding-top: 30px">
                        <div class="col-sm-3">
                            <a href="#" class="thumbnail">
                                <img src="/images/no-thumbnail.png" alt="...">
                            </a>
                            <a href="#" class="thumbnail">
                                <img src="/images/no-thumbnail.png" alt="...">
                            </a>
                        </div>
                        <div class="col-sm-3">
                            <a href="#" class="thumbnail">
                                <img src="/images/no-thumbnail.png" alt="...">
                                </a>
                            <a href="#" class="thumbnail">
                                <img src="/images/no-thumbnail.png" alt="...">
                            </a>
                        </div>
                        <div class="col-sm-3">
                            <div class="container" style="width: 100%;">
                                <div class="jumbotron" id="restInfo" style="margin-top: 0px; margin-bottom: 0px; padding-top: 5px; padding-bottom:5px; padding-left: 20px; padding-right: 20px; font-size: 14px;">
                                    DataArt is a technology consulting firm that offers end-to-end solutions, from concept and strategy, to design, implementation and support. We partner with clients to create and support innovative solutions that help businesses become a lasting success in the marketplace.
                                    </div>
                                </div>
                            </div>
                        <div class="col-sm-3">
                            <h3 style="text-align: left;">Rating:</h3>
                            <ul style="list-style-type:none; padding-left: 15px; padding-right: 15px;">
                                <li>
                                    Cuisine
                                    <span class="rightItem" id="rateCuisine">5/5</span>
                                    <p></p>
                                </li>
                                <li>
                                    Interior
                                    <span class="rightItem" id="rateInterior">5/5</span>
                                    <p></p>
                                </li>
                                <li>
                                    Service
                                    <span class="rightItem" id="rateService">5/5</span>
                                    <p></p>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="container" style="width: 100%; padding-left: 0px; padding-right: 0px;">
                        <div class="jumbotron" id="restView" style="margin-top: 0px; margin-bottom: 0px; padding-top: 0px; padding-bottom: 0px; padding-left: 0px; padding-right: 0px; font-size: 14px; text-indent: 20px;">
                            The developers and managers at DataArt have done an excellent job of enhancing the functionality of Cruiselabs platform, maintaining legacy systems, operating over 70 web sites and enabling our flagship web sites for mobile devices. They have freed us to focus on growing the business rather than worrying about our technology. DataArt started with very little expertise in cruise technology, but, now are experts in the domain and regularly add value to Cruiselabs' customer experience as a result.
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-2">
            <div class="input-group input-group-sm" id="input-search">
                <span id="sizing-addon3" class="input-group-addon glyphicon glyphicon-search" aria-hidden="true" style="top: 0px; padding-top: 7px; padding-bottom: 3px;"></span>
                <input type="text" class="form-control" id="search" placeholder="Search for..." aria-describedby="sizing-addon3">
            </div>
            <ul class="list-group" id="list"></ul>
            <div id="restaurant-list"></div>
        </div>
    </div>
}
